# Carpetas de compilación
bin/
obj/

# Archivos de usuario de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Paquetes de NuGet
packages/

# Archivos temporales de tu aplicación
CargasIngresos/Temporales/
*.tmp

# 1. Ignorar el archivo de CORS real y llaves de cifrado
**/Content/seguridad/Cors.config
**/Content/seguridad/Cifrado.md

# 🚀 2. Ignorar el Proyecto Auxiliar de Encriptación
CryptoHelperv02/
CryptoHelperv02.zip

# 🚀 3. Seguridad: Ignorar Perfiles de Publicación (evita fugas de contraseñas de IIS/FTP)
*.pubxml
*.pubxml.user