# Carpetas de compilación
bin/
obj/

# Archivos de usuario de Visual Studio
.vs/
*.user
*.suo

# Paquetes de NuGet
packages/

# Archivos temporales de tu aplicación
CargasIngresos/Temporales/
*.tmp

# 1. Ignorar el archivo de CORS real (Se sube solo el Cors.config.example)
Content/seguridad/Cors.config