@{
    ViewBag.Title = "API CargaMasivaIngresos v.01";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div class="jumbotron text-center bg-light">
            <h1 class="display-4">API CargaMasivaIngresos v.01</h1>
            <p class="lead">
                Plataforma institucional para la carga masiva de los datos prediales.
            </p>
        </div>
    </section>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <h2>Descripción</h2>
            <p>
                Esta API forma parte de los esfuerzos por proveer una herramienta digital para la carga masiva de información por medio de archivo TXT, CSV o Excel, con el objetivo de facilitar la integración de datos prediales al sistema de administración tributaria de la Dirección de Ingresos de la Subsecretaría de Ingresos de la Secretaría de Planeación, Finanzas y Administración del Gobierno del Estado de Puebla.
            </p>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <h2>Desarrollador</h2>
            <p>
                Arquitectura y desarrollo: <strong>Tlamatini Tlacaelel Ortiz Ruiz</strong><br />
                Dirección de Ingresos de la Subsecretaría de Ingresos de la Secretaría de Planeación, Finanzas y Administración<br />
                Puebla, México
            </p>
        </div>
    </div>
</main>