<appSettings>
    <add key="CorsOrigins_Test" value="http://172.21.20.34:8088,https://localhost:44376,https://localhost:44372,https://localhost:44366" />
    <add key="CorsOrigins_Prod" value="https://cargamasivaingresos.puebla.gob.mx" />

    <!-- Aplicaciones de escritorio permitidas -->
    <add key="AppsPermitidasProduccion" value="CargaMasivaPredial" />
    <add key="AppsPermitidasPruebas" value="Postman,CargaMasivaPredial" />
  </appSettings>

